<!-- Page Content 
<div id="content" class="p-4 p-md-5 pt-5">

	<h2 class="mb-4">main content here</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
		magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
		pariatur.
		Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	</p>

</div> -->
<div class="container">
<div class="row mt-3">
	<div class="col-8 col-xs-12">
		<div class="card bg-dark">
			<div class="card-header">
				Create Post
			</div>
			<div class="card-body">
				<div class="input-group mb-3">
					<input type="file" class="form-control" id="inputGroupFile02">
					<label class="input-group-text" for="inputGroupFile02">Upload</label>
				</div>
			</div>
		</div>
		<div class="card bg-dark mt-3">
			<div class="card-header">
				Username
			</div>
			<img src="" class="card-img-top" style="background:#2D2D2D;min-height:15rem;">
			<div class="card-body">
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			</div>
		</div>
		<div class="card bg-dark mt-3">
			<div class="card-header">
				Username
			</div>
			<img src="" class="card-img-top" style="background:#2D2D2D;min-height:15rem;">
			<div class="card-body">
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			</div>
		</div>		
		<div class="card bg-dark mt-3">
			<div class="card-header">
				Username
			</div>
			<img src="" class="card-img-top" style="background:#2D2D2D;min-height:15rem;">
			<div class="card-body">
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card bg-dark">
			<div class="card-header">
				Live Terminal
			</div>
			<div class="card-body">
				<h5 class="card-title">Special title treatment</h5>
				<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
				<a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
		</div>
		<div class="card bg-dark mt-3">
			<div class="card-header">
				Messages
			</div>
			<div class="card-body">
				<h5 class="card-title">Special title treatment</h5>
				<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
				<a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
		</div>
	</div>
	<div>

	</div>
</div></div>