{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>
		{% block title %}Base{% endblock title %}
	</title>

	<!-- bootstrap css -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
	{% block extra_css %}
	<style>
		body {
			min-height: 100vh;
			min-height: -webkit-fill-available;
			background-color: #1D1D1D;
			color: rgb(207, 207, 207);
		}
		
		html {
			height: -webkit-fill-available;
		}
	</style>
	
	
	{% endblock extra_css %}
</head>

<body>
	<!-- bootstrap JS -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
		crossorigin="anonymous"></script>

	{% block extra_js %}
	{% endblock extra_js %}

	<div class="content">
		{% block content %}
		{% endblock content %}
	</div>
</body>

</html>
