{% extends "base.html" %}
{% load static %}

{% block extra_css %}
	<style>
		.mb-auto {
			margin-bottom: auto!important;
		}
		
	</style>
{% endblock extra_css %}

{% block content %}
{% if request.user.is_authenticated == False %}
	{% comment %}
	{% include "landing.html" %}
	{% endcomment %}
	<h2> not authenticated, show landing page here</h2>
	<a href="{% url 'account_login' %}">Login Page</a>
{% else %}
	<!-- <h3>Welcome {{ user.username }} !!!</h3> -->
	<!-- <h3>Email: {{ user.email }} !!!</h3> -->
	<div class="wrapper d-flex align-items-stretch">
		<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px; height: 100vh;">
			<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
				<svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
				<span class="fs-4">Hooba</span>
			</a>
			<hr>
			<ul class="nav nav-pills flex-column mb-auto">
				<li class="nav-item">
					<a href="#" class="nav-link active" aria-current="page">
						<svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
						Home
					</a>
				</li>
				<li>
					<a href="#" class="nav-link text-white">
						<svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
						Profile
					</a>
				</li>
				<li>
					<a href="#" class="nav-link text-white">
						<svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
						Settings
					</a>
				</li>
				<li>
					<a href="#" class="nav-link text-white">
						<svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
						Explore
					</a>
				</li>
			</ul>
			<hr>
			<div class="dropdown">
				<a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
					<img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
					<strong>{{ request.user.email }}</strong>
				</a>
				<ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
					<li><a class="dropdown-item" href="#">Profile</a></li>
					<li><a class="dropdown-item" href="#">Account Settings</a></li>
					<li><hr class="dropdown-divider"></li>
					<li><a class="dropdown-item" href="#">Sign out</a></li>
				</ul>
			</div>
		</div>

		<!-- Page Content  -->
		<div id="content" class="p-4 p-md-5 pt-5">

			<h2 class="mb-4">main content here</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
				magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
				Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
			
		</div>
		
	</div>
{% endif %}
{% endblock content %}

{% block extra_js %}
{% endblock extra_js %}