{% extends "base.html" %}
{% load static %}

{% block extra_css %}
	<style>
		.mb-auto {
			margin-bottom: auto!important;
		}
		
	</style>
{% endblock extra_css %}

{% block content %}
{% if request.user.is_authenticated == False %}
	{% comment %}
	{% include "landing.html" %}
	{% endcomment %}
	<h2> not authenticated, show landing page here</h2>
	<a href="{% url 'account_login' %}">Login Page</a>
{% else %}
	<!-- <h3>Welcome {{ user.username }} !!!</h3> -->
	<!-- <h3>Email: {{ user.email }} !!!</h3> -->
	<div class="wrapper d-flex align-items-stretch">
		{% include "home/sidebar.html" %}
		{% include "home/content.html" %}
	</div>
{% endif %}
{% endblock content %}

{% block extra_js %}
{% endblock extra_js %}